.game_over {
	position: relative;
	width: 80vw;
	height: 80vh;
	margin: 50px auto;
	background-color: black;
	border: 7.5px solid white;
}
.playagainorquit {
	font-family: cursive;
	color: lime;
	font-size: 2.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 0%;
	// @include anim(example, 1s, infinite);
	margin-top: -5%;
}
@mixin anim($name, $dur, $iterate) {
	animation-name: $name;
	animation-duration: $dur;
	animation-iteration-count: $iterate;
}

.game_overtitle {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 9vw;
	text-align: center;
	@include anim(example, 1s, infinite);
}

@keyframes example {
	0% {
		color: lime;
		text-shadow: 0 0 20px green;
	}
	25% {
		color: green;
		text-shadow: 2px 2px 2px lime;
		transform: translate(-2px, 1px);
	}
	40% {
		color: lime;
		text-shadow: none;
		transform: translate(0, 0);
	}
	50% {
		color: green;
		text-shadow: 5px 5px 2px blue, -5px -5px 2px red;
		transform: translate(0px, 5px);
	}
	70% {
		color: lime;
		text-shadow: none;
		transform: translate(0, 0);
	}
	80% {
		color: lime;
		text-shadow: 0 0 20px green;
		transform: translate(-2px, 1px);
	}
	100% {
		color: lime;
		text-shadow: none;
	}
}
.snakeImage {
	height: 100px;
	justify-content: center;
	display: flex;
	align-items: center;
	margin: 0 auto;
	margin-bottom: -170px;
	margin-top: 100px;
}
