.scoreboard_container {
	border: 5px solid white;
	border-radius: 50px;
	height: 20vw;
	width: 20vw;
	color: white;
	display: block;
}
.scoreTitleRecord {
	font-family: cursive;
	font-size: 25px;
	margin-top: 70px;
	margin-left: 20px;
}
.scoreTitleCurrent {
	font-family: cursive;
	font-size: 25px;
	margin-left: 20px;
	margin-top: 80px;
}
.currentscore {
	margin-top: -1r0px;
	margin-left: 140px;
	font-size: 50px;
	color: red;
}
