.controls_image {
	height: 14vw;
	margin-top: -7%;
}
.controls_parent {
	border: 5px solid white;
	border-radius: 50px;
	height: 20vw;
	width: 20vw;
}
.controls_container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.controlsTitle {
	font-size: 2vw;
	color: white;
	font-family: cursive;

	text-align: center;
}
.letter_controls {
	display: flex;
	align-items: center;
	justify-content: center;
}
.r_key,
.q_key {
	height: 40px;
	margin: 0 auto;
}
